<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

	<Appenders>

		<Console name="loggingInConsole" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>
					%d{HH:mm:ss} [%t] -5%level %logger{36} -%msg %n
				</Pattern>
			</PatternLayout>
		</Console>

		<File name="loggingToFIle" fileName="logs/test.log" append = "false">
			<PatternLayout>
				<Pattern>
					%d{HH:mm:ss} [%t] -5%level %logger{36} -%msg %n
				</Pattern>
			</PatternLayout>
		</File>

	</Appenders>

	<Loggers>
		<Root level="info">

			<AppenderRef ref="loggingInConsole" />
			<AppenderRef ref="loggingToFIle" />
		</Root>

	</Loggers>
</Configuration>